/* body {
  background-color: #E2E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.SignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 60px;
  padding-top: 40px;
  background-color: #E2E8E8;
}

.TopHeader {
  text-align: center;
  margin-bottom: 40px;
  color: #000135;
  /* -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(255, 255, 255); */
}

.TopHeader p {
  margin-top: 20px;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
}

#LargeText1 {
  font-size: 3em;
}

.SignIn form input {
  width: 350px;
  height: 30px;
  text-align: left;
  border: solid 1px #e0e0e0;
  border-radius: 10px;
  padding: 0.5em 0.625em;
}

.flexForm input, select, textarea{
  color: #000135;
}

.flexForm ::placeholder {
  color: #000135;
}

.SignIn form button {
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: hsl(248, 100%, 19%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0.5em 0;
  margin-top: 1em;
}


.SignInExtra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  font-size: 1.1em;
  padding-bottom: 270px;
  font-weight: bold;
}

.SignInExtra p span {
  text-align: center;
}


.flexForm {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
  align-items:center;
}

.SignInExtra2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
  font-size: 1.1em;
  padding-bottom: 205px;
  font-weight: bold;
}