.modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100 vh; */
  /* overflow: auto; */
}

.modal-background {
  /* background-color:  rgb(0,1,53); */
  backdrop-filter: blur(50px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.modal-content {
  background-color:  rgba(226, 232, 232, 0.127);;
  color: rgb(0, 0, 0);
  margin: 5% auto;
  padding: 20px;
  border: none;
  /* width: 50rem; */
  /* height: 50rem; */
  text-align: center;
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.top {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  /* padding: 0.5rem; */
  margin-bottom: 1rem;
}

.close {
  color: #838181;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top > h2 {
  font-size: 2em;
font-weight: bolder;
width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40rem;
  padding-bottom: 10px ;
}

label {
  font-size: 1.115rem;
  /* align-items: baseline; */
}

.fieldset {
  width: 80%;
  /* margin-left: 5rem; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset div {
  display: flex;
  flex-direction: row;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fieldset > legend {
  font-weight: bold;
  font-size: 1.5rem;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#file::file-selector-button {
  margin: 0.5rem;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  content: unset;
  font-size: medium;
}

#file::file-selector-button:hover {
  background-color: #0000003a;
}

.submit-btn {
  margin: 0.5rem;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  width: 200px;
  align-self: center;
  cursor: pointer;
  background-color: #f3f4f6;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  content: unset;
  font-size: medium;
}

.form button {
  margin: 0.5rem;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #f3f4f6;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
  content: unset;
  font-size: medium;
}
