.OutfitDisplayContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(226, 232, 232);
  border: solid rgb(0,1,53);
  margin: 0;
  margin-top: 2vh;
  width: 100vw;
  padding: 0 9% 5% 9%;
  max-width: 50%;
}

.clothing-item {
  height: 8vh;
  width: 24vw;
  padding: 1em 0;
}

.random-outfit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.OutfitDisplayContainer button {
  color: rgb(226, 232, 232);
  background-color: rgb(5, 157, 0);
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
  font-size: 0.8em;
  font-weight: bold;
}

/* .container {
  background-color: rgb(226, 232, 232);
  border: solid black;
  border-radius: 10px;
  width: 950px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 3px 0 rgba(68, 66, 66, 0.054);
  padding: 1rem;
}

.random-outfit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.clothing-item {
  max-height: 13rem;
  max-width: 13rem;
  background-color: white;
  border: thick solid grey;
}

.shoes {
  max-width: 25rem;
}

.generate-outfit {
  background-color: rgba(255, 255, 255, 0.881);
  border-radius: 10px;
  border: 0px;
  color: black;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 1px 2px 3px 0 rgba(202, 200, 200, 0.793);
  cursor: pointer;
  margin: 2rem;
} */
