.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.welcome-message {
  font-size: 2em;
  text-align: center;
  margin-top: 1.4em;
}

.subtext {
  font-size: 0.55em;
  text-align: center;
  margin: 0 5px;
}

.Addicon {
  font-size: 50px;
}